<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ReadComicOnline - Read comics online in high quality
    </title>
    
    <link rel="stylesheet" href="css/wishes.css">
    <link rel="shortcut icon" href="/images/wishes/favicon.ico" type="image/x-icon" />
</head>
<body>    
  	<div id="containerRoot">
        <div id="head">
            <h3>
                <div id="search" style="position: relative">
                    <form id="formSearch">
                        <p>
                            <input style="width: 250px" id="keyword" name="keyword" value="" class="text" autocomplete="off" />
                            <input id="imgSearch" type="image" src="/images/wishes/search.png"
                                class="button" onclick="return false;" />
                        </p>
                        <div style="float: left; width: 240px; text-align: left; margin-left: 58px;">
                            <div style="float: left; width: 90px">
                                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/therealDNA1&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21"
                                    scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px;
                                    height: 21px;" allowtransparency="true"></iframe>
                            </div>
                            <div style="float: left; width: 65px">
                                <a href="https://twitter.com/aradhanfurtado" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">&nbsp;</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </form>
                </div>
            </h3>
            <h1>
                <a href="#" title="ReadComicOnline - High quality comic online"
					class="logo">ReadComicOnline.to</a>
			</h1>
        </div>
        <!-- end div head -->
		<div class="clear"></div>
				
        <div id="headnav">
            <div id="navbar">
                <div id="navcontainer">
                    <ul>
                        <li id="liHome"><a href="#">Home</a></li>
                        <li id="liDS"><a href="#">Comic list</a></li>
                        <li id="liReportError"><a href="#">Report Error</a></li>
                        <li id="liRequest"><a href="#">Request Comic</a></li>
                        <li id="liCommunity"><a href="#">Forum</a></li>
                        <li id="li2"><a href="#">Watch cartoon</a></li>
                    </ul>
                </div>
            </div>
            <div id="navsubbar">
                <p>
                    <a title="Bookmarks, reading type" href="#">Register for MORE options</a>&nbsp;|&nbsp;
                    <a href="#">Random comic</a>
                </p>
            </div>
        </div>
        <!-- end div headnav -->
        
    <div id="container">
        <div id="leftside">
            <div class="clear"></div>
            <div class="banner">
                <!-- Random Comic -->
                <div class="details">
                    <a target="_blank" href="https://readcomiconline.to/Comic/Batman-A-Death-in-the-Family">
                        <img width="150px" height="195px" src="https://readcomiconline.to/Uploads/Etc/5-2-2016/43630225.jpg" />
                    </a>
                    <div style="float: left; width: 540px">
                        <a Class="bigChar" target="_blank" href="https://readcomiconline.to/Comic/Batman-A-Death-in-the-Family">Batman: A Death in the Family</a>
                        <p>
                            <span class="info">Genres:</span>&nbsp;<a href="#" class="dotUnder" title=".">Action</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Adventure</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Fantasy</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Superhero</a>
                        </p>
                        <p>
                            Jason Todd, the second Robin, has gone missing in search of his birth mother. Forced to ignore the growing threat of the Joker, Batman must track down his missing apprentice and help him before it all ...
                        </p>
                    </div>
                </div>
                <!-- end Random Comic -->
            </div>

            <div class="clear2"></div>
            <div class="bigBarContainer">
                <div class="barTitle">
                    <div class="scrollable_title">
                        Latest update
                    </div>
                    <div id="recently-nav">
                        <a class="prev"></a>
                        <div class="navi">
                            Page 1
                        </div>
                        <a class="next"></a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="barContent">
                    <div class="scrollable">
                        <div class="items">
                            <div>
                                <a target="_blank" href="https://readcomiconline.to/Comic/Flashpoint" title="Issue #5"><img width='130px' height='150px' src="https://2.bp.blogspot.com/-j4tJfrtHfcg/VsrMgVQxi5I/AAAAAAAAB5U/JAAC4pDFvsI/s1600-Ic42/6.jpeg" /><br />Flashpoint (2011)<br /><span class='textDark'>Issue #5</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Crisis-on-Infinite-Earths-1985" title="Issue #12"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/4-8-2016/7895032837Untitled-10.jpg" /><br />Crisis on Infinite Earths (1985)<br /><span class='textDark'>Issue #12</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-The-Killing-Joke" title="Full"><img width='130px' height='150px' src="https://2.bp.blogspot.com/-EYx4gB4mH0o/Vs0QF_yZQHI/AAAAAAAAB98/vX_9_htQ-p0/s1600-Ic42/2.jpg" /><br />Batman: The Killing Joke<br /><span class='textDark'>Full</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-Hush" title="Issue #12"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/5-2-2016/2646391hush.jpg" /><br />Batman: Hush<br /><span class='textDark'>Issue #12</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-Year-One" title="Issue #4"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/5-6-2016/59173923.jpg" /><br />Batman: Year One<br /><span class='textDark'>Issue #4</span></a>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear2"></div>
            <div class="clear2"></div>

            <div id="submenu">
                <div id="tabmenucontainer">
                    <ul>
                        <li><a href="#" id="liNewesttab" title="New comic" onclick="showTabData('newest')"
                            class="tabactive">New comic</a></li>
                        <li><a href="#" id="liTopDayTab" title="Top day" onclick="showTabData('topday')">
                            Top day</a></li>
                        <li><a href="#" id="liTopWeekTab" title="Top week" onclick="showTabData('topweek')">
                            Top week</a></li>
                        <li><a href="#" id="liTopMonthTab" title="Top month" onclick="showTabData('topmonth')">
                            Top month</a></li>
                        <li><a href="#" id="liMostViewtab" title="Most popular" onclick="showTabData('mostview')">
                            Most popular</a></li>
                    </ul>
                </div>
                <!-- end div tab menu container -->

                <div class="clear"></div>
                <div id="subcontent">
                    <div class="clear2"></div>
                    <div class="clear2"></div>
                    
                    <div id="tab-newest">
                        <% wishes.forEach((wish, i) => { %>
                            <div style="position: relative;" class="<%= i%2===0 ? '' : 'blue'; %>">
                                <a href="<%= `/b5cd1f00c6791b77e358231afd1ec35d/${wish.id}` %>"><img width="<%= `${wish.width / wish.height * 100}px` %>" height="100px" src="<%= `/images/wishpics/${wish.pic}` %>" /></a>
                                <a class="title" href="<%= `/b5cd1f00c6791b77e358231afd1ec35d/${wish.id}` %>"><span><%- wish.name %></span></a>
                                <p>
                                    <% let g = wish.iselite ? ['Amateur', 'Anal', 'Arab', 'Asian', 'Babe', 'Babysitter', 'BBW', 'Behind The Scenes', 'Big Ass', 'Big Dick', 'Big Tits', 'Bisexual Male', 'Blonde', 'Blowjob', 'Bondage', 'Brazilian', 'British', 'Brunette', 'Bukkake', 'Cartoon', 'Casting', 'Celebrity', 'College', 'Compilation', 'Cosplay', 'Creampie', 'Cuckold', 'Cumshot', 'Czech', 'Double Penetration', 'Ebony', 'Euro', 'Exclusive', 'Feet', 'Female Orgasm', 'Fetish', 'Fingering', 'Fisting', 'French', 'Funny', 'Gangbang', 'Gay', 'Handjob', 'Hardcore', 'HD', 'Hentai', 'Indian', 'InteractiveInteractive', 'Interracial', 'Italian', 'Japanese', 'Korean', 'Latina', 'Lesbian', 'Massage', 'Masturbation', 'Mature', 'MILF', 'Muscular Men', 'Old/Young', 'Orgy', 'Parody', 'Party', 'Pissing', 'Pornstar', 'POV', 'Public', 'Pussy Licking', 'Reality', 'Red Head', 'Role Play', 'Romantic', 'Rough Sex', 'Russian', 'School', 'SFW', 'Small Tits', 'Smoking', 'Solo Female', 'Solo Male', 'Squirt', 'Step Fantasy', 'Strap On', 'Striptease', 'Tattooed Women', 'Teen', 'Threesome', 'Toys', 'Trans', 'Vintage', 'Webcam'] : ['Action', 'Adventure', 'Anthology', 'Anthropomorphic', 'Biography', 'Children', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Fighting', 'Graphic Novels', 'Historical', 'Horror', 'Leading Ladies', 'LGBTQ', 'Literature', 'Manga', 'Martial Arts', 'Mature', 'Military', 'Movies & TV', 'Music', 'Mystery', 'Mythology', 'Personal', 'Political', 'Post-Apocalyptic', 'Psychological', 'Pulp', 'Religious', 'Robots', 'Romance', 'School Life', 'Sci-Fi', 'Slice of Life', 'Sport', 'Spy', 'Superhero', 'Supernatural', 'Suspense', 'Thriller', 'Vampires', 'Video Games', 'War', 'Western', 'Zombies']; %>
                                    <% let r = Math.floor(Math.random() * g.length); %>
                                    <span class="info">Genres:</span>&nbsp;<a href="#" class="dotUnder" title="."><%= g[r] %></a>
                                    <% g.splice(r, 1); %>
                                    <% r = Math.floor(Math.random() * g.length); %>
                                    <span class="info">,</span> <a href="#" class="dotUnder" title="."><%= g[r] %></a>
                                    <% g.splice(r, 1); %>
                                    <% r = Math.floor(Math.random() * g.length); %>
                                    <span class="info">,</span> <a href="#" class="dotUnder" title="."><%= g[r] %></a>
                                </p>
                                <% let n = [7, 21, 57, 69, 420] %>
                                <% r = Math.floor(Math.random() * n.length); %>
                                <p><span class="info">Latest:</span>&nbsp;<a href="<%= `/b5cd1f00c6791b77e358231afd1ec35d/${wish.id}` %>" title="<%= wish.name %>"><%= `Issue #${n[r]}` %></a></p>
                            </div>
                        <% }); %>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                <!-- end div subcontent -->
            </div>
            <!-- end div submenu -->
        </div>
        <!-- end div leftside -->

        <div id="rightside">
            <div class="rightBox">
                <div class="barTitle">Announcement</div>
                <div class="barContent">
                    <span style="font-weight: bold; color: #fff;">
                        Yay, you made it!! Seeing how smart you are, I admit defeat and I'mma let the civilian walk away freely cause I have no idea how Riddler and Batman comics end. But yes, enjoy these wishes but don't remove your thinking cap yet. There's a clue in this website too :) <br><br><i>Note: Most of the buttons and search bars are simply decorative and not functional</i> 
                    </span>
                </div>
            </div>

            <div class="clear2"></div>
        </div>

        <div class="clear"></div>
    </div>
    <!-- end div container -->

    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>

    <div id="footer">
        <div id="footcontainer" style="position: relative">
            <p>
                From 2020 <a href="#">ReadComicOnline.to</a>. Copyrights and trademarks
                for the comic, and other promotional materials are held by their respective owners
                and their use is allowed under the fair use clause of the Copyright Law.
                <a href="#">Privacy Policy</a>&nbsp;|&nbsp;<a href="#">DMCA</a>&nbsp;|&nbsp;<a href="#">Contact us</a>&nbsp;&nbsp;
            </p>
        </div>
    </div>
    <style> #__vliadb83{ display: none; position: fixed; background: rgb(221, 221, 221); z-index: 9999999; opacity: 1; visibility: visible; top: 100px; right: 0px; left: 0px; max-width: 640px; margin-right: auto; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 2px; font-family: Arial, Helvetica, sans-serif; } #__vliadb83 .__vliadb83-content{ padding: 30px 30px 15px; color: #626262; } #__vliadb83 .__vliadb83-content a { color: #EA2A5E; } #__vliadb83 #__vliadb83-cls{ display: inline-block; position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #bbb; font-size: 32px; font-weight: 700; line-height: 30px; text-align: center; cursor: pointer; -webkit-transition: 0.3s; transition: 0.3s; } #__vliadb83 #__vliadb83-cls:hover{color: #5f5e5e;} #__vliadb83-bg{ display: none; position: fixed; z-index: 999999; background: rgba(0, 0, 0, 0.8); top: 0px; left: 0px; width: 100%; height: 100%;} </style> <div id="__vliadb83"> <div class="__vliadb83-content"> <h1 style="margin-bottom: 15px; padding: 0 30px; color: #252b37; font-size: 28px; line-height: 1.25; text-align: center;">Adblocker detected! Please consider reading this notice.</h1><p>We've detected that you are using AdBlock Plus or some other adblocking software which is preventing the page from fully loading.</p><p>We don't have any banner, Flash, animation, obnoxious sound, or popup ad. We do not implement these annoying types of ads!</p><p>We need money to operate the site, and almost all of it comes from our online advertising.</p><p> <strong> Please add <a href="http://yourdomain.com" target="_blank" rel="noopener"> readcomiconline.to</a>&nbsp;to your ad blocking whitelist or disable your adblocking software.</strong></p> </div> <a id="__vliadb83-cls">×</a> </div> <div id="__vliadb83-bg"></div> <script src="//cdn.jsdelivr.net/gh/vli-platform/adb-analytics@a6f3a45/v1.0.min.js"></script> <script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (function() { (window.adblockDetector = window.adblockDetector || []).push(function() { window.adbDetector.init({ id: 'e3e09e6b5c1c6f8fce95004450468f13', debug: true, cookieExpire: 10, found: function() { window.adbDetector.alert({ hiddenCloseButton: false, clickBackgroundToClose: false }); } }); }) } ()); </script>
</body>
</html>